body {
    background: #EEF0EB;
}

.navbar {
    background-color: #153242;
    color: white;
}

nav .dropdown-item {
    width: 250px;
}
nav .dropdown:hover {
    transform: translateY(2px);
}

.lower {
    top: 56px;
    background-color: #284B63;
    color: white;
}

.page-container {
    margin-top: 150px;
}

#mainPage {
    margin-top: 75px;
}

/* homepage title */
#titleText {
    justify-content: center;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 10px;
    text-shadow: 2px 2px gray;
    font-size: 6em;
    animation-name: fadein;
    animation-duration: 2s;
}
@keyframes fadein {
    from {
        opacity: 0;
        transform: translateY(7px);
    }
    to {
        opacity: 1;
        /* transform: translateY(5px) */
    }
}

.main-icon {
    text-align: center;
    text-shadow: 1.4px 1.4px gray;
    font-size: 30px;
    margin: 25px 0;
}

#mainPage img {
    width: 13vw;
    height: 13vw;
}

.fancyFont {
    font-family: "Roboto";
    font-variant: small-caps;
    font-weight: 300px;
}

#mainPage img:hover {
    transform: scale(1.1);
    opacity: 0.8;
}

@media only screen and (max-width: 600px) {
    .main-icon {
        font-size: 25px;
    }
}

@media only screen and (max-width: 792px) {
    #mainPage .row {
        margin-top: 0px;
    }
    #mainPage img {
        width: 30vw;
        height: 30vw;
    }
}

@media only screen and (max-width: 1035px) {
    .main-icon {
        margin: 25px 0;
    }
    #mainPage img {
        width: 20vw;
        height: 20vw;
    }
}





/* mycollection */

.capCard img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: inline;
}

.capCard {
    margin-bottom: 8px;
}

#capsListContainer {
    column-count: 3;
    column-gap: 5px;
}

/* Max-width is uncertain */
@media screen and (max-width: 1200px) {
    #capsListContainer {
        column-count: 2;
    }
}

@media screen and (max-width: 900px) {
    #capsListContainer {
        column-count: 1;
    }
    .capCard img {
        width: 110px;
        height: 110px;
        border-radius: 50%;
        display: inline;
    }
}

@media only screen and (max-width: 600px) {
    .capCard img {
        width: 100px;
        height: 100px;
    }
}





/* Getting Started Page */
#gettingStartedTitle {
    text-align: center;
}

#gettingStartedPage {
    margin-top: 75px;
}


